#con-header {
  margin-bottom: 2.5%;
}

.title {
  font-family: Book Antiqua;
  color: white;
  opacity: .9;
  font-weight: 50;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: inline-block;
  line-height: 0.9;
  font-size: 50px;
  margin-top: 5%;
}

#middle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

img {
  object-fit: contain;
}

#mainboard {
  border: 2px solid #000000;
  text-align: center;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 40%;
  max-height: 600px;
  margin-top: 12px;
  box-sizing: content-box;
}

.title-text {
  font-family: 'Segoe UI';
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 28px;
}

form {
  margin-top: 13%;
}

.iban-label {
  font-weight: 400;
  opacity: 0.9;
  color: white;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-shadow: 0 0 5px rgb(62, 61, 61);
  margin-bottom: 2%;
}

.iban {
  display: flex;
  font-family: "Segoe UI";
  margin-left: 13%;
}

input[type=text] {
  width: 80%;
  padding: 15px 15px;
  margin: 10px 0;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 3%;
  opacity: 0.9;
  border: 1px solid rgba(0,0,0,0.4);
}

::placeholder {
  font-size: 17px;
  font-family: 'Candara';
  font-style: italic;
  opacity: 0.3;
  font-weight: bold;
}

input {
  border-radius: 12px;
  border: 1px solid gray;
  letter-spacing: 1px;
}

.login-elements {
  margin-top: 10%;
}

#cancel, #confirm{
  display: inline;
  margin-left: 5%;
  margin-right: 5%;
}

.cancel-btn, .confirm-btn {
  border-radius: 25px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  opacity: 0.9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: "Segoe UI";
  font-size: 15px;
  letter-spacing: 1.5px;
  padding: 10px 35px;
  height: 40px;
  margin-top: 15%;
  align-items: center;
}

.iban-warning {
  font-size: 13px;
  color: rgb(193, 35, 35);
  margin-top: -5px;
  font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#mainboard .newaccform #cancel .cancel-btn:hover {
  cursor: pointer;
  background-color: rgba(186, 176, 176, 0.3);
}

#mainboard .newaccform #confirm .confirm-btn:hover {
  cursor: pointer;
  background-color: rgba(186, 176, 176, 0.3);
}


@media only screen and (max-width: 768px) {
  .logout-btn {
    font-size: 15px;
  }

  .iban-text {
    font-size: 14px;
  }
  .money-text {
    font-size: 20px;
    margin-top: 20%;
  }

  input[type='text'] {
    width: 100%;
    height: 60px;
  }

  .cancel-btn, .confirm-btn {
    padding: 5px 20px;
  }

  #cancel, #confirm{
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 480px) {

  img {
    width: 60px;
    height: 50px;
  }

  .title {
    font-size: 35px;
    font-family:  'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  }

  .iban-text {
    font-size: 12px;
  }

  .title-text {
    font-size: 19px;
  }

  #mainboard {
    max-width: 70%;
  }

  input[type='text'] {
    width: 100%;
    height: 50px;
  }

  .cancel-btn, .confirm-btn {
    padding: 5px 13px;
  }

  #cancel, #confirm{
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
  }


}
